/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

nav a.active {
  color: #38bd67;
}

.dark nav a.active {
  color: #38bd67;
}

.responsive {
  animation: responsive 4s infinite;
}

.bestQuality {
  animation: bestQuality 4s infinite;
}

@keyframes responsive {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

@keyframes bestQuality {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }
}

@layer components {
  .display-none {
    @apply hidden;
  }

  #theme-switch {
    @apply h-[50px] w-[50px] p-0 justify-center items-center flex;
  }

  .nav {
    @apply text-dark-lite hover:text-primary2 font-medium text-lg dark:text-white-deep dark:hover:text-primary2 duration-300;
  }

  .button {
    @apply bg-gradient-to-r from-primary2 to-primary1 py-2 px-3 rounded-xl text-white font-semibold;
  }

  .lang {
    @apply transition duration-200 ease-in hover:-translate-y-1 hover:scale-110 cursor-pointer;
  }

  .language {
    @apply text-[10px] text-dark-deep/70 bg-[#00000008] hover:text-primary1 duration-300 rounded-[4px] px-2 py-[2px] dark:text-dark-deep dark:bg-white-deep dark:hover:text-black;
  }

  .hero-icon {
    @apply border border-solid border-dark-deep rounded-[50%] text-4xl flex items-center justify-center dark:text-white dark:border-white p-1;
  }
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
